/* signupPage.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  
}

.sign-up {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #333; /* Change label color */
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: #ff0000;
}

.button-container {
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

.link-container {
  margin-top: 10px;
  text-align: center;
}

.link-container p {
  color: #333; /* Change link and paragraph color */
  text-decoration: none;
}

.link-container a:hover {
  text-decoration: underline;
}

.link-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .link-container a:hover {
    text-decoration: underline;
  }

  .already-account {
    margin-bottom: 5px;
    margin-top: 15px;
  }