.week {
  border: 1px solid;
  --box-border-border: linear-gradient(
    105deg,
    rgb(255, 46, 144) 0%,
    rgb(61, 35, 185) 100%
  );
}
.monday {
  background-color: #ff9800;
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.tuesday {
  background-color: #ff9800;
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.wednesday {
  background-color: #ff9800;
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.thursday {
  background-color: #ff9800;
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.friday {
  background-color: #ff9800;
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.saturday {
  background-color: #ff9800;
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.sunday {
  background-color: #ff9800;
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.addPopup {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  border-radius: 999px;
  font-size: 28px;
  font-weight: 900;
  color: var(--light);
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  cursor: pointer;
}

.add-day-plan {
  appearance: none;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 8px;
  border-radius: 16px;
  width: 10%;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
