:root {
  --primary: #d81e5b;
  --secondary: #8a4efc;
  --light: #eee;
  --light-alt: #61759b;
  --dark: #131a26;
  --dark-alt: #202b3e;
}
.monday {
  background-color: var(--dark);
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.tuesday {
  background-color: var(--dark);
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.wednesday {
  background-color: var(--dark);
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.thursday {
  background-color: var(--dark);
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.friday {
  background-color: var(--dark);
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.saturday {
  background-color: var(--dark);
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.sunday {
  background-color: var(--dark);
  padding: 20px;
  border-color: #000;
  border: 1px solid;
}
.addPopup {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  border-radius: 999px;
  font-size: 28px;
  font-weight: 900;
  color: var(--light);
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  cursor: pointer;
}

.add-day-plan {
  appearance: none;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 8px;
  border-radius: 16px;
  width: 10%;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
