.navWrapper {
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 15px 30px;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 1000; 
  overflow: hidden; 
}
  
  .CompanyName {
    font-size: 2rem; /* Anita plan */
    text-decoration: none;
    color: #fff;
  }
  
  .navContainer {
    display: flex;
  }
  
  .navContainer a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px; /* Home and About */
    font-size: 1.4rem;
  }
  
  .navContainer a:hover {
    color: #ccc; /* Home and About */
  }

  .CompanyName:hover {
    color: #ccc; /* Anita-Plan */
  }

  button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    padding-left: 25px; 
  }
  
  button:hover {
    color: #ccc;
  }